* {
  box-sizing: border-box;
}

body {
  background-color: hsl(160, 0%, 97%);
  font-size: 16px;
  font-family: Oxygen, sans-serif;
}

#header-nav {
  background-color: hsl(160, 0%, 100%);
  border-bottom: 1px solid hsla(240,7%,70%,.35) !important;
  margin-bottom: 2rem;
}

p {
  margin: 0px;
}

#title {
  font-family: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: hsl(210, 11%, 14%);
}

#main {
  margin: 0 2% 0 2%;
}

#playfield {
  padding: 0 10% 0 0;
}

#playfield-controls {
  display: flex;
  justify-content: center;
}

#playfield-control-button {
  margin: 0 10px 0 10px;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  margin-right: 2rem;
}

@media (max-width: 767px) {
  #main {
    max-width: 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .card-footer section {
    text-align: center;
  }

  .card-footer section hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

.button-grid {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-grid:hover {
  background-color: rgb(249,250,251);
}

.button-grid:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-grid:focus-visible {
  box-shadow: none;
}

.playfield-control-button {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.playfield-control-button:hover {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.playfield-control-button:hover {
  transform: translateY(-1px);
}

.playfield-control-button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}